@import "tailwindcss";

:root {
  --background: #232829;
  --foreground: #FFFFFF;
  --attention: #FDB056;
  --timer: #FFBB00;
  --warning: #FD5656;
  --header-bg: #1D5B43;
  --warranty: #81FE95;
  --text-block-bg: #313637;
  --border: #484D4E;
  --full-price: #919191;
  --warranty-text: #DCDCDC;
  --payment-agreement: #9B9B9B;
  --button-text: #191E1F;
  --checkbox-text: #CDCDCD;
  --checkbox-border: #606566;
  --slogan-bg: #2D3233;
   
  /*--witdh-xl: 1920px;*/
  /*--witdh-sm: 375px;*/
}

body {
   font-family: Montserrat, Arial, Helvetica, sans-serif;
}

* { 
  box-sizing: border-box;
}
