@import "tailwindcss";

:root {
  --background: #232829;
  --foreground: #FFFFFF;
  --attention: #FDB056;
  --timer: #FFBB00;
  --warning: #FD5656;
  --header-bg: #1D5B43;
  --warranty: #81FE95;
  --text-block-bg: #313637;
  --border: #484D4E;
  --old-price: #919191;
  --warranty-text: #DCDCDC;
  /*--witdh-xl: 1920px;*/
  /*--witdh-sm: 375px;*/
}

body {
  color: var(--foreground);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
