@import 'tailwindcss';

:root {
  --background: #232829;
  --foreground: #ffffff;
  --attention: #fdb056;
  --timer: #ffbb00;
  --warning: #fd5656;
  --header-bg: #1d5b43;
  --warranty: #81fe95;
  --text-block-bg: #313637;
  --border: #484d4e;
  --full-price: #919191;
  --warranty-text: #dcdcdc;
  --payment-agreement: #9b9b9b;
  --button-text: #191e1f;
  --checkbox-text: #cdcdcd;
  --checkbox-border: #606566;
  --slogan-bg: #2d3233;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
